<a href="https://colab.research.google.com/github/nani358/FMML_COURSE_ASSIGNMENT/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [ ]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "   "

x = txt.isspace()

print(x)

True

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [ ]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [ ]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

**LIST** **METHODS**

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

In [ ]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

BUILT IN FUNCTIONS

In [ ]:
x = abs(-7.25)

In [ ]:
mylist = [True, True, True]
x = all(mylist)

In [ ]:
mylist = [False, True, False]
x = any(mylist)

In [ ]:
x = ascii("My name is Ståle")

In [ ]:
x = bin(36)

In [ ]:
x = bool(1)

In [ ]:
x = bytearray(4)

In [ ]:
x = bytes(4)

In [ ]:
def x():
  a = 5

print(callable(x))

True

In [ ]:
x = chr(97)

In [ ]:
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [ ]:
x = complex(3, 5)

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

In [ ]:
x = dict(name = "John", age = 36, country = "Norway")

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

In [ ]:
x = divmod(5, 2)

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

In [ ]:
x = 'print(55)'
eval(x)

55

In [ ]:
x = 'name = "John"\nprint(name)'
exec(x)

John

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
x = float(3)

In [ ]:
x = format(0.5, '%')

In [ ]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')

In [ ]:
x = globals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'LIST METHODS \n\n\nfruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', 'LIST METHODS\n\nfruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nx = fruits.copy()", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.count("cherry")', 'points = [1, 4, 2, 9, 7, 8, 9, 3, 1]\n\nx = points.count(9)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()", 'x = abs(-7.25)', 'mylist = [True, True, True]\nx = all(mylist)', 'mylist = [False, True, False]\nx = any(mylist)', 'x = ascii("My name is Ståle")', 'x = bin(36)', 'x = bool(1)', 'x = bytearray(4)', 'x = bytes(4)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)', "x = format(0.5, '%')", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', 'x = globals()\nprint(x)'], '_oh': {53: 'banana'}, '_dh': ['/content'], 'In': ['', 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'LIST METHODS \n\n\nfruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', 'LIST METHODS\n\nfruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nx = fruits.copy()", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.count("cherry")', 'points = [1, 4, 2, 9, 7, 8, 9, 3, 1]\n\nx = points.count(9)', "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")', 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)", 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")', "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()", "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()", 'x = abs(-7.25)', 'mylist = [True, True, True]\nx = all(mylist)', 'mylist = [False, True, False]\nx = any(mylist)', 'x = ascii("My name is Ståle")', 'x = bin(36)', 'x = bool(1)', 'x = bytearray(4)', 'x = bytes(4)', 'def x():\n  a = 5\n\nprint(callable(x))', 'x = chr(97)', "x = compile('print(55)', 'test', 'eval')\nexec(x)", 'x = complex(3, 5)', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'x = dict(name = "John", age = 36, country = "Norway")', 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', 'x = divmod(5, 2)', "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)", "x = 'print(55)'\neval(x)", 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'x = float(3)', "x = format(0.5, '%')", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', 'x = globals()\nprint(x)'], 'Out': {53: 'banana'}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7b688b72e0b0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b688b72e650>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b688b72e650>, '_': 'banana', '__': '', '___': '', '_i': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '_ii': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '_iii': "x = format(0.5, '%')", '_i1': 'txt = "hello, and welcome to my world."\n\nx = txt.capitalize()\n\nprint (x)', 'txt': 'banana', 'x': {...}, '_i2': 'txt = "I love apples, apple are my favorite fruit"\n\nx = txt.count("apple")\n\nprint(x)', '_i3': 'txt = "Hello, welcome to my world."\n\nx = txt.endswith(".")\n\nprint(x)', '_i4': 'txt = "Hello My Name Is PETER"\n\nx = txt.swapcase()\n\nprint(x)', '_i5': 'txt = "Hello my friends"\n\nx = txt.upper()\n\nprint(x)', '_i6': 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', '_i7': 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', '_i8': 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', '_i9': 'txt = "Hello, welcome to my world."\n\nx = txt.index("welcome")\n\nprint(x)', '_i10': 'txt = "I like bananas"\n\nx = txt.replace("bananas", "apples")\n\nprint(x)', '_i11': '#use a dictionary with ascii codes to replace 83 (S) with 80 (P):\nmydict = {83:  80}\ntxt = "Hello Sam!"\nprint(txt.translate(mydict))', 'mydict': {83: 80}, '_i12': 'txt = "Hello my FRIENDS"\n\nx = txt.lower()\n\nprint(x)', '_i13': 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '_i14': 'txt = "H\\te\\tl\\tl\\to"\n\nx =  txt.expandtabs(2)\n\nprint(x)', '_i15': 'txt = "Hello, And Welcome To My World!"\n\nx = txt.casefold()\n\nprint(x)', '_i16': 'txt = "banana"\n\nx = txt.center(20)\n\nprint(x)', '_i17': 'txt = "My name is Ståle"\n\nx = txt.encode()\n\nprint(x)', '_i18': 'txt = "Hello, welcome to my world."\n\nx = txt.find("welcome")\n\nprint(x)', '_i19': 'txt = "Welcome to my world"\n\nx = txt.title()\n\nprint(x)', '_i20': 'txt = "50"\n\nx = txt.zfill(10)\n\nprint(x)', '_i21': 'txt = "     banana     "\n\nx = txt.strip()\n\nprint("of all fruits", x, "is my favorite")', '_i22': 'txt = "Thank you for the music\\nWelcome to the jungle"\n\nx = txt.splitlines()\n\nprint(x)', '_i23': 'txt = "Hello, welcome to my world."\n\nx = txt.startswith("Hello")\n\nprint(x)', '_i24': 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', '_i25': 'txt = "   "\n\nx = txt.isspace()\n\nprint(x)', '_i26': 'txt = "50800"\n\nx = txt.isdigit()\n\nprint(x)', '_i27': 'txt = "565543"\n\nx = txt.isnumeric()\n\nprint(x)', '_i28': 'txt = "1234"\n\nx = txt.isdecimal()\n\nprint(x)', '_i29': 'txt = "Demo"\n\nx = txt.isidentifier()\n\nprint(x)', '_i30': 'txt = "banana"\n\nx = txt.ljust(20)\n\nprint(x, "is my favorite fruit.")', '_i31': 'txt = "Hello Sam!"\nmytable = str.maketrans("S", "P")\nprint(txt.translate(mytable))', 'mytable': {83: 80}, '_i32': 'txt = "Mi casa, su casa."\n\nx = txt.rindex("casa")\n\nprint(x)', '_i33': 'txt = "CompanyX"\n\nx = txt.isalpha()\n\nprint(x)', '_i34': 'txt = "I could eat bananas all day"\n\nx = txt.partition("bananas")\n\nprint(x)', '_i35': 'txt = "Hello! Are you #1?"\n\nx = txt.isprintable()\n\nprint(x)', '_i36': 'txt = "THIS IS NOW!"\n\nx = txt.isupper()\n\nprint(x)', '_i37': 'txt = "Company123"\n\nx = txt.isascii()\n\nprint(x)', '_i38': 'txt = "Hello, And Welcome To My World!"\n\nx = txt.istitle()\n\nprint(x)', '_i39': 'txt = "Company12"\n\nx = txt.isalnum()\n\nprint(x)', '_i40': 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', '_i41': 'LIST METHODS \n\n\nfruits = [\'apple\', \'banana\', \'cherry\']\nfruits.append("orange")', '_i42': 'LIST METHODS\n\nfruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', '_i43': 'txt = "banana"\n\nx = txt.rjust(20)\n\nprint(x, "is my favorite fruit.")', '_i44': 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', 'fruits': ['cherry', 'banana', 'apple'], '_i45': 'fruits = ["apple", "banana", "cherry"]\n\nfruits.append("orange")\n\nprint(fruits)', '_i46': "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nfruits.clear()", '_i47': "fruits = ['apple', 'banana', 'cherry', 'orange']\n\nx = fruits.copy()", '_i48': 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.count("cherry")', '_i49': 'points = [1, 4, 2, 9, 7, 8, 9, 3, 1]\n\nx = points.count(9)', 'points': [1, 4, 2, 9, 7, 8, 9, 3, 1], '_i50': "fruits = ['apple', 'banana', 'cherry']\n\ncars = ['Ford', 'BMW', 'Volvo']\n\nfruits.extend(cars)", 'cars': ['BMW', 'Ford', 'Volvo'], '_i51': 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nx = fruits.index("cherry")', '_i52': 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.insert(1, "orange")', '_i53': "fruits = ['apple', 'banana', 'cherry']\n\nfruits.pop(1)", '_53': 'banana', '_i54': 'fruits = [\'apple\', \'banana\', \'cherry\']\n\nfruits.remove("banana")', '_i55': "fruits = ['apple', 'banana', 'cherry']\n\nfruits.reverse()", '_i56': "cars = ['Ford', 'BMW', 'Volvo']\n\ncars.sort()", '_i57': 'x = abs(-7.25)', '_i58': 'mylist = [True, True, True]\nx = all(mylist)', 'mylist': ['apple', 'banana', 'cherry'], '_i59': 'mylist = [False, True, False]\nx = any(mylist)', '_i60': 'x = ascii("My name is Ståle")', '_i61': 'x = bin(36)', '_i62': 'x = bool(1)', '_i63': 'x = bytearray(4)', '_i64': 'x = bytes(4)', '_i65': 'def x():\n  a = 5\n\nprint(callable(x))', '_i66': 'x = chr(97)', '_i67': "x = compile('print(55)', 'test', 'eval')\nexec(x)", '_i68': 'x = complex(3, 5)', '_i69': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'Person': <class '__main__.Person'>, '_i70': 'x = dict(name = "John", age = 36, country = "Norway")', '_i71': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', '_i72': 'x = divmod(5, 2)', '_i73': "x = ('apple', 'banana', 'cherry')\ny = enumerate(x)", 'y': <enumerate object at 0x7b687b1b0e40>, '_i74': "x = 'print(55)'\neval(x)", '_i75': 'x = \'name = "John"\\nprint(name)\'\nexec(x)', 'name': 'John', '_i76': 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'ages': [5, 12, 17, 18, 24, 32], 'myFunc': <function myFunc at 0x7b687a236ef0>, 'adults': <filter object at 0x7b687a213b80>, '_i77': 'x = float(3)', '_i78': "x = format(0.5, '%')", '_i79': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '_i80': 'class Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '_i81': 'x = globals()\nprint(x)'}

In [ ]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = hasattr(Person, 'age')

In [ ]:
x = hex(255)

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:

In [ ]:
x = int(3.5)

In [ ]:
x = isinstance(5, int)

In [ ]:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)